<footer>
  <hr>
  <p align="center">
    <img src="https://counter.clarelab.moe/@www-yifeng-li?name=www-yifeng-li&theme=sketch-1&padding=8&offset=0&align=top&scale=0.2&pixelated=1&darkmode=0" alt=":counter" />
  </p>
  <p align="center">
    © {{< now year >}} <a href="https://yifen9.li">Li Yifeng</a> | 
    Some rights reserved | 
    Text under <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a> | 
    Code under <a href="https://spdx.org/licenses/MIT.html">MIT License</a>
  </p>
  <p align="center">
    <a href="https://www.cloudflare.com">Cloudflare</a> & 
    <a href="https://quarto.org">Quarto</a>
  </p>
</footer>